vti_encoding:SR|utf8-nl
vti_author:SR|PC489\\Zelonght
vti_modifiedby:SR|PC489\\Zelonght
vti_timelastmodified:TR|31 Dec 2001 17:34:55 -0000
vti_timecreated:TR|31 Dec 2001 17:34:55 -0000
vti_cacheddtm:TX|31 Dec 2001 17:34:55 -0000
vti_filesize:IR|1379
vti_cachedlinkinfo:VX|S|bluhorsd.gif S|blubul1d.gif S|blubul2d.gif S|blubul3d.gif S|blubannd.gif S|bluhbudd.gif S|bluhbusd.gif S|bluvbudd.gif S|bluvbusd.gif S|bluhombd.gif S|blunexbd.gif S|bluprebd.gif S|bluupbd.gif S|blubul1d.gif S|blubul2d.gif S|blubul3d.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/blueprnt/bluhorsd.gif FSUS|_themes/blueprnt/blubul1d.gif FSUS|_themes/blueprnt/blubul2d.gif FSUS|_themes/blueprnt/blubul3d.gif FSUS|_themes/blueprnt/blubannd.gif FSUS|_themes/blueprnt/bluhbudd.gif FSUS|_themes/blueprnt/bluhbusd.gif FSUS|_themes/blueprnt/bluvbudd.gif FSUS|_themes/blueprnt/bluvbusd.gif FSUS|_themes/blueprnt/bluhombd.gif FSUS|_themes/blueprnt/blunexbd.gif FSUS|_themes/blueprnt/bluprebd.gif FSUS|_themes/blueprnt/bluupbd.gif FSUS|_themes/blueprnt/blubul1d.gif FSUS|_themes/blueprnt/blubul2d.gif FSUS|_themes/blueprnt/blubul3d.gif
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|
