vti_encoding:SR|utf8-nl
vti_webservertype:SR|diskweb
vti_restartmanual:IX|0
vti_defaultlanguage:SR|en-us
vti_missingoverlays:VX|
vti_textextensions:SX|.txt.
vti_timecreated:TR|13 Oct 2003 09:44:50 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_structto_localhost\\c\:\\documents and settings\\windows xp\\desktop\\123/c\:/documents and settings/windows xp/desktop/123:TR|13 Oct 2003 03:44:59 -0000
vti_navbuttonnextlabel:SR|Next
vti_textindexood:IR|0
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_casesensitiveurls:IX|0
vti_copytimestamp_file\:///C\:/Documents and Settings/Windows XP/Desktop/123:TR|31 Jul 2004 10:34:25 -0000
vti_themedefault:SR|folio 011
vti_approvallevels:VR|Approved Denied Pending\\ Review
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_hassearchbot:BR|false
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_ServerWebParts vti_RulesScript vti_TimedDocEvents
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_missingoverlaylabels:VX|
vti_insecureserverurl:SR|file://
vti_defaultcharset:SR|windows-1252
vti_approvalapproved:SR|Approved
vti_approvaldenied:SR|Denied
vti_autorecalc:IX|1
vti_navbuttonuplabel:SR|Up
vti_httpdversion:SX|FrontPage DBW
vti_extenderversion:SR|5.0.2.2623
vti_navbuttonprevlabel:SR|Back
vti_longfilenames:IX|1
vti_disableautoimgsizeexts:SX|.asp
vti_ignorekeyboard:IR|0
vti_structfrom_localhost\\d\:\\long\\nanocard\\tailieu\\help/d\:/long/nanocard/tailieu/help:TR|13 Oct 2003 03:44:59 -0000
vti_dependenciesood:IR|1
vti_navbuttonhomelabel:SR|Home
