vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|06 Oct 2003 13:38:26 -0000
vti_recalcupdatedate:TW|13 Oct 2003 09:15:14 -0000
vti_author:SR|Zelda
vti_modifiedby:SR|Zelda
vti_nexttolasttimemodified:TR|06 Oct 2003 13:38:26 -0000
vti_timecreated:TR|13 Oct 2003 09:44:59 -0000
vti_recalcupdateevntkey:SR|2003101309151400010002132330
vti_extenderversion:SR|6.0.2.5516
vti_syncwith_localhost\\d\:\\long\\nanocard\\tailieu\\help/d\:/long/nanocard/tailieu/help:TR|06 Oct 2003 13:38:26 -0000
vti_cacheddtm:TX|13 Oct 2003 09:45:00 -0000
vti_filesize:IR|4864
vti_cachedlinkinfo:VX|S|folbanr.gif S|folhbtn.gif S|folhsel.gif S|folhom.gif S|folnxt.gif S|folbck.gif S|folup.gif S|folglobl.gif S|folvbtn.gif S|folvsel.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/folio/folbanr.gif FSUS|_themes/folio/folhbtn.gif FSUS|_themes/folio/folhsel.gif FSUS|_themes/folio/folhom.gif FSUS|_themes/folio/folnxt.gif FSUS|_themes/folio/folbck.gif FSUS|_themes/folio/folup.gif FSUS|_themes/folio/folglobl.gif FSUS|_themes/folio/folvbtn.gif FSUS|_themes/folio/folvsel.gif
vti_backlinkinfo:VX|
vti_syncwith_localhost\\c\:\\documents and settings\\windows xp\\desktop\\123/c\:/documents and settings/windows xp/desktop/123:TR|06 Oct 2003 13:38:26 -0000
