vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|31 Dec 2001 17:26:45 -0000
vti_recalcupdatedate:TW|13 Oct 2003 09:15:15 -0000
vti_author:SR|Zelda
vti_modifiedby:SR|PC489\\Zelonght
vti_nexttolasttimemodified:TR|06 Oct 2003 13:38:26 -0000
vti_timecreated:TR|13 Oct 2003 09:44:59 -0000
vti_recalcupdateevntkey:SR|2003101309151500010002132348
vti_extenderversion:SR|6.0.2.5516
vti_syncwith_localhost\\d\:\\long\\nanocard\\tailieu\\help/d\:/long/nanocard/tailieu/help:TR|13 Oct 2003 09:15:16 -0000
vti_backlinkinfo:VX|
vti_syncwith_localhost\\c\:\\documents and settings\\windows xp\\desktop\\123/c\:/documents and settings/windows xp/desktop/123:TR|06 Oct 2003 13:38:26 -0000
vti_cacheddtm:TX|31 Dec 2001 17:26:45 -0000
vti_filesize:IR|1240
vti_cachedlinkinfo:VX|S|folbanr.gif S|folrule.gif S|folbul1.gif S|folbul2.gif S|folbul3.gif S|folhsel.gif S|folhbtn.gif S|folvsel.gif S|folvbtn.gif S|folhom.gif S|folup.gif S|folbck.gif S|folnxt.gif S|folbul1.gif S|folbul2.gif S|folbul3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/folio/folbanr.gif FSUS|_themes/folio/folrule.gif FSUS|_themes/folio/folbul1.gif FSUS|_themes/folio/folbul2.gif FSUS|_themes/folio/folbul3.gif FSUS|_themes/folio/folhsel.gif FSUS|_themes/folio/folhbtn.gif FSUS|_themes/folio/folvsel.gif FSUS|_themes/folio/folvbtn.gif FSUS|_themes/folio/folhom.gif FSUS|_themes/folio/folup.gif FSUS|_themes/folio/folbck.gif FSUS|_themes/folio/folnxt.gif FSUS|_themes/folio/folbul1.gif FSUS|_themes/folio/folbul2.gif FSUS|_themes/folio/folbul3.gif
