vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|31 Dec 2001 17:26:45 -0000
vti_recalcupdatedate:TW|13 Oct 2003 09:15:15 -0000
vti_author:SR|Zelda
vti_modifiedby:SR|PC489\\Zelonght
vti_nexttolasttimemodified:TR|06 Oct 2003 13:38:26 -0000
vti_timecreated:TR|13 Oct 2003 09:44:59 -0000
vti_recalcupdateevntkey:SR|2003101309151500010002132350
vti_extenderversion:SR|6.0.2.5516
vti_syncwith_localhost\\d\:\\long\\nanocard\\tailieu\\help/d\:/long/nanocard/tailieu/help:TR|13 Oct 2003 09:15:16 -0000
vti_backlinkinfo:VX|_themes/folio/theme.css
vti_syncwith_localhost\\c\:\\documents and settings\\windows xp\\desktop\\123/c\:/documents and settings/windows xp/desktop/123:TR|06 Oct 2003 13:38:26 -0000
vti_cacheddtm:TX|31 Dec 2001 17:26:45 -0000
vti_filesize:IR|27356
vti_cachedlinkinfo:VX|S|folglobl.gif S|folbkgnd.jpg S|folbul2.gif S|toolgrad.gif S|dot.gif S|toolgrad.gif S|theme.css S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/folio/folglobl.gif FSUS|_themes/folio/folbkgnd.jpg FSUS|_themes/folio/folbul2.gif FSUS|_themes/folio/toolgrad.gif FSUS|_themes/folio/dot.gif FSUS|_themes/folio/toolgrad.gif FSUS|_themes/folio/theme.css FSUS|_themes/folio/blank.gif
