.mstheme{
nav-banner-image:url(folbanr.gif);
separator-image:url(folrule.gif);
list-image-1:url(folbul1.gif);
list-image-2:url(folbul2.gif);
list-image-3:url(folbul3.gif);
navbutton-horiz-pushed:url(folhsel.gif);
navbutton-horiz-normal:url(folhbtn.gif);
navbutton-vert-pushed:url(folvsel.gif);
navbutton-vert-normal:url(folvbtn.gif);
navbutton-home-normal:url(folhom.gif);
navbutton-up-normal:url(folup.gif);
navbutton-prev-normal:url(folbck.gif);
navbutton-next-normal:url(folnxt.gif);
}
UL{
list-style-image:url(folbul1.gif);
}
UL UL{
list-style-image:url(folbul2.gif);
}
UL UL UL{
list-style-image:url(folbul3.gif);
}
.mstheme-bannertxt{
font-family:Arial,Helvetica;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
