.mstheme{
nav-banner-image:url(afolbanr.gif);
separator-image:url(afolrule.gif);
list-image-1:url(afolbul1.gif);
list-image-2:url(afolbul2.gif);
list-image-3:url(afolbul3.gif);
navbutton-horiz-pushed:url(afolhsel.gif);
navbutton-horiz-normal:url(afolhbtn.gif);
navbutton-horiz-hovered:url(afolhhov.gif);
navbutton-vert-pushed:url(afolvsel.gif);
navbutton-vert-normal:url(afolvbtn.gif);
navbutton-vert-hovered:url(afolvhov.gif);
navbutton-home-normal:url(afolhom.gif);
navbutton-home-hovered:url(afolhomh.gif);
navbutton-up-normal:url(afolup.gif);
navbutton-up-hovered:url(afoluph.gif);
navbutton-prev-normal:url(afolbck.gif);
navbutton-prev-hovered:url(afolbckh.gif);
navbutton-next-normal:url(afolnxt.gif);
navbutton-next-hovered:url(afolnxth.gif);
}
UL{
list-style-image:url(afolbul1.gif);
}
UL UL{
list-style-image:url(afolbul2.gif);
}
UL UL UL{
list-style-image:url(afolbul3.gif);
}
.mstheme-bannertxt{
font-family:Arial,Helvetica;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
