a:link{
color:#9900FF;
}
a:visited{
color:#3366FF;
}
a:active{
color:#99CCFF;
}
body{
color:#003366;
background-color:#FFFFCC;
}
h1{
color:#003366;
}
h2,marquee{
color:#003366;
}
h3{
color:#003366;
}
h4{
color:#003366;
}
h5{
color:#003366;
}
h6{
color:#003366;
}
LABEL,.MSTHEME-LABEL{
color:#003366;
}
FIELDSET{
border-color:#BBBBBB;
color:#000000;
}
LEGEND{
color:#003366;
}
SELECT{
border-color:#BBBBBB;
color:#000000;
}
TABLE{
table-border-color-light:#99CCFF;
table-border-color-dark:#330099;
border-color:#330099;
color:#003366;
}
CAPTION{
color:#003366;
}
TH{
color:#003366;
}
HR{
color:#9900FF;
}
TD{
border-color:#9900FF;
}
