a:link{
color:#3366FF;
}
a:visited{
color:#9900FF;
}
a:active{
color:#000066;
}
body{
color:#003399;
background-color:#FFFFFF;
}
h1{
color:#003399;
}
h2,marquee{
color:#003399;
}
h3{
color:#003399;
}
h4{
color:#003399;
}
h5{
color:#003399;
}
h6{
color:#003399;
}
LABEL,.MSTHEME-LABEL{
color:#003399;
}
FIELDSET{
border-color:#660066;
color:#000000;
}
LEGEND{
color:#003399;
}
SELECT{
border-color:#BBBBBB;
color:#000000;
}
TABLE{
table-border-color-light:#3366FF;
table-border-color-dark:#003399;
border-color:#003399;
color:transparent;
}
CAPTION{
color:#003399;
}
TH{
color:#003399;
}
HR{
color:#660066;
}
TD{
border-color:#660066;
}
